/**

Communications Lab - Fall 2018 | IMA | NYU Shanghai

_____
Steps

1: Add a different background color to each div so that you can see the area of the div more clearly.
2: Take out all invisible default margins first.
3: Adjust the width and height of the larger divs first.
4: Then, fine-tune the small divs' properties. (width, height, margin, etc.)
5: Play with the layout, changing flex containers' properties.
6: Make a final decision with the heights of the divs.
7: When you are happy with the layout, remove the background randomly given.

_____
Properties for the flex container

flex-direction
flex-wrap
flex-flow
justify-content
align-items
align-content

Visit the website below and try the properties and values.
https://www.w3schools.com/css/css3_flexbox.asp

**/




html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Helvetica;
}

p {
  color: gray;
  margin: 5px;
}

h1 {
  margin: 0;
}

a {
  color: gray;
}

a:hover {
  color: hotpink;
}

.header, .navigation, .content, .footer {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.header {
  /* background-color: #F00; */
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.navigation {
  float: left;
  /* background-color: #0F0; */
  width: 20%;
  height: calc(100% - 150px);
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

.content {
  /* background-color: #FF0; */
  width: 80%;
  height: calc(100% - 150px);
  flex-wrap: wrap;
  align-content: flex-start;
}

.footer {
  clear: both;
  /* background-color: #999; */
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.navi-box {
  /* background-color: #ccf; */
  /* height: 30px; */
  margin: 10px;
}

.content-box {
  background-color: #EEE;
  width: 150px;
  height: 100px;
  margin: 10px;
}

.content-box:hover {
  background-color: lightgray;
}
