body {
  font-family: sans-serif;
}

#box {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 200px;
  height: 220px;
  margin: 10px;
  padding: 20px;
  background-color: #EEE;
}

#result {
  color: blue;
  background-color: white;
  font-size: 40px;
  font-weight: bold;
}
