body {
  font-family: Helvetica;
}

button {
  border: none;
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
}

img {
  display: block;
  margin-top: 20px;
  height: 500px;
}

#two {
  display: none;
}

#caption {
  display: inline-block;
}
