body {
	font-family: "Helvetica", "Arial";
}

h1 {
	color: darkblue;
}

p {
	color: gray;
	font-size: 18px;
}

.title {
	font-size: 30px;
}

#class-title {
	color: blue;
}

#id-title {
	color: green;
}